{:mvn/repos {}
 :aliases   {:native-image {:extra-deps {com.alpha-prosoft/cambada {:mvn/version "1.0.6"}}
                            :main-opts  ["-m" "cambada.native-image"
                                         "-m" "${MAIN_CLASS}"]}}}

