<settings>
  <servers>
    <server>
      <id>artifacts</id>
      <username>${artifacts.username}</username>
      <password>${artifacts.password}</password>
    </server>
    <server>
      <id>dev</id>
      <username>${ARTIFACT_USERNAME}</username>
      <password>${ARTIFACT_PASSWORD}</password>
    </server>
    <server>
      <id>prod</id>
      <username>${ARTIFACT_USERNAME}</username>
      <password>${ARTIFACT_PASSWORD}</password>
    </server>
  </servers>
</settings>

